title: "Xing's CMB SBI progress record"
description: "recording and sharing latest progress of our projects"
include: ['_pages']
exclude: ['_includes/notes_graph.json', '_notes/.github', '_notes/.obsidian']
baseurl: ""  # 留空，适用于 Netlify 部署
use_html_extension: false
open_external_links_in_new_tab: true
embed_tweets: false

# 让 Jekyll 生成友好的 URL
permalink: pretty
relative_permalinks: false

# 使用 Cayman 主题
theme: jekyll-theme-cayman

# 启用 Jekyll 插件
plugins:
  - jekyll-last-modified-at
  - jekyll-feed  # 生成 RSS 订阅
  - jekyll-sitemap  # 生成站点地图，利于搜索引擎收录

# SASS 样式压缩
sass:
  sass_dir: _sass
  style: :compressed

# 设置 collections 以支持笔记管理
collections:
  notes:
    output: true
    permalink: /notes/:title

# 默认 Front Matter 设置
defaults:
  - scope:
      path: "**/*"
    values:
      layout: "default"
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note"
      published: true
